#banner {
    margin-top: 40px;
    padding: 10px;
  }
  
  #jumbobanner {
    background-image: url("https://images.pexels.com/photos/1181675/pexels-photo-1181675.jpeg?cs=srgb&dl=pexels-christina-morillo-1181675.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
  }   
  
  hr {
    background-color: #086918;
  }